html {
  font-size: 15px;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 1rem;
}

.page {
  width: 100%;
  height: 100vh;
  background: #000 url(../img/bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 770px;
}

/* Header
================== */

.header {
  background: #082f66af;
  padding: 1rem 0;
  margin-bottom: 110px;
}

.header__inner {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.header__brand a {
  color: #fff;
  text-decoration: none;
}

.header__logo img {
  display: block;
}

.header__nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s linear;
}

.header__nav-links:hover {
  color: #1251aa;
}

.header__nav-links:not(:last-child) {
  margin-right: 1.5rem;
}

.active {
  position: relative;
}

.active:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: -5px;
  position: absolute;
}

/* MAIN
============= */

.content {
  color: #fff;
  width: 100%;
  height: 100%;
}

.content__item-header {
  margin-bottom: 35px;
}

.content__item {
  max-width: 689px;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
}

.title span {
  color: #2b7ded;
}

.subtitle {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.text {
  margin-bottom: 50px;

  font-size: 1rem;
}

/* BTN
========== */

.btn {
  color: #fff;
  background-color: #2b7ded;
  padding: 12px 35px;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.2s linear;
  line-height: 1.1;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  border: 0;
}

.btn:hover {
  background-color: #1251aa;
}

.btn-full {
  width: 100%;
  display: block;
}

/* Author
=========== */

.author {
  position: absolute;
  bottom: 0;
  right: 20px;
}

/* Form
================= */

.form {
  width: 100%;
  max-width: 280px;
}

.form__group {
  margin-bottom: 10px;
}

.input,
.textarea {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 0;
  font-size: 1rem;
  padding: 12px 18px;
  font-family: inherit;
  border-radius: 5px;
}

.textarea {
  height: 100px;
  resize: none;
}

.input::placeholder,
.textarea::placeholder {
  color: #fff;
}

/* FOOTER
=============== */

footer {
  position: absolute;
  left: 0;
  bottom: 45px;
  width: 100%;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  /* margin-right: 2rem; */
  /* display: block; */
}

.contacts__link:hover {
  text-decoration: underline;
}

.contacts__link:not(:last-child) {
  margin-right: 2rem;
}

.contacts__icon {
  margin-right: 5px;
}

.contacts__link:last-child {
  position: relative;
}

.contacts__link:last-child::after {
  position: absolute;
  content: "";
  background-color: #fff;
  height: 2px;
  width: 100%;
  left: 100%;
  top: 11px;
  margin-left: 2rem;
  pointer-events: none;
}

/* Media
=============== */
@media (max-width: 1120px) {
  .author {
    opacity: 0.2;
  }
}

@media (max-width: 1000px) {
  .page {
    min-height: 100vh;
    height: auto;
  }
}

@media (max-width: 767px) {
  .page {
    padding-bottom: 2rem;
  }

  /* Header */
  .header {
    margin-bottom: 50px;
  }

  .header__logo {
    display: none;
  }

  .header__brand {
    font-size: 1.2rem;
  }

  /* Content */
  .content {
    text-align: center;
    margin-bottom: 50px;
  }

  .content__item {
    max-width: none;
  }

  /* Form */
  .form {
    margin: 0 auto;
  }

  /* Footer */
  .footer {
    position: static;
  }

  /* Contacts */
  .contacts__link:last-child {
    padding-bottom: 2rem;
  }

  .contacts {
    flex-direction: column;
  }

  .contacts__link:last-child:after {
    display: none;
  }

  .contacts__link:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .contacts__link:first-child {
    margin-right: 0;
  }
}

@media (max-width: 565px) {
  .header__inner {
    flex-direction: column;
  }

  .header__brand {
    margin-bottom: 1rem;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 1.6rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}
